.order-card {
    -fx-background-color: #FFFFFF; /* Default background color */
}

.order-card-near-deadline {
    -fx-background-color: #FF6347; /* Background color for deadlines within 3 days */
}

.deadline-text {
    -fx-text-fill: #555555; /* Default text color */
}

.deadline-text-urgent {
    -fx-text-fill: red; /* Urgent deadline text color */
}